*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#049baf,#171718);
}
.calculator{
    border: 1px solid #68748b;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(2, 16, 26);
}
input{
    width: 320px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow:0px 3px 15px rgba(84,84,84,01) ;
    font-size: 40px;
    color: whitesmoke;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: whitesmoke;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 15%;
    background: transparent;
    font-size: 22px;
    color: rgb(203, 234, 235);
    box-shadow: -8px -8px 30px rgba(255, 255, 250, 0.159);
    cursor: pointer ;
}
.equalbtn{
    background: rgb(13, 237, 103);
    opacity: .5;
    box-shadow: -18px -8px 30px rgba(255, 255, 250,0.2);
}
.operators{
    color: #d6e871;
}
button:hover{
    background: aqua;
}